.Person {
    border: 10px solid red;
    margin: 16px auto;
    box-shadow: black;
    padding: 2px;
    width: 60%;
}

@media (min-width: 500px){
  .Person {
    width : 450px;
    border: 5px dotted blue;
  }
}
